<header class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Admin Dashboard</h1>
  </div>
</header>
<main class="mt-10 px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-3xl text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">List of Users</h1>
    <div class="bg-white shadow-md rounded-lg overflow-hidden">

      <table class="min-w-full">
        <thead class="bg-gray-200">
          <tr>
            <th class="text-center px-6 py-3 text-gray-700">Name</th>
            <th class="text-center px-6 py-3 text-gray-700">Email</th>
          </tr>
        </thead>
        <tbody>
          @if(users) {
          <tr *ngFor="let user of users" class="border-b">
            <td class="px-6 py-4 text-gray-800">{{user.name}}</td>
            <td class="px-6 py-4 text-gray-600">{{user.email}}</td>
          </tr>
          }
          @else {

          <tr class="h-24 text-center">
            <td colspan="2">
              <div class="flex gap-2 justify-center">
                <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
                <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
                <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
              </div>
            </td>
          </tr>

          }
        </tbody>
      </table>



    </div>
  </div>
</main>